.skl {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skl-texts {
  width: 65%;
}

.skl-desc {
  margin: 20px 0px;
}

.skl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .skl {
    padding: 10px;
  }

  .skl-texts {
    width: 100%;
  }
  .skl-desc {
    display: none;
  }
}
