.sk {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(242, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.sk-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.sk-circle {
  width: 6px;
  height: 6px;
  margin: 3px;
  border-radius: 50%;
}

.sk-circle:nth-of-type(1) {
  background-color: dodgerblue;
}

.sk-circle:nth-of-type(2) {
  background-color: tomato;
}

.sk-circle:nth-of-type(3) {
  background-color: orchid;
}

.sk-img {
  width: 100%;
  transition: all 2s ease;
}

.sk:hover .sk-img {
  transform: translateY(-100%);
}

@media screen and (max-width: 480px) {
  .sk {
    width: 40%;
    height: 21vh;
  }
  .sk-img {
    max-height: 12vh;
    transform: translateY(20px);
  }
}
